body{
	// background: url('/src/assets/images/shelf2.jpg');
	background-color: #E1DEDF;
	overflow-x:hidden;
	overflow-y:auto
}
.iconlink {
	height: 50px;
	width: 40px;
	margin: 0px 20%;
	font-size: 0.8rem;
	color: #474822;
	padding-top: 27px;
}
a {
	text-decoration: none;
}

.btnlink{
	margin: auto auto;
	font-size: 1rem;
	color: #fff;
	font-weight: bold;
	background-color: #E2574C;
	padding: 5px;
}
.bookshelf{
	background: url('../images/bookshelf.png') no-repeat;
	background-size: 70%;
	background-position: center 2px;
	border-top: 3px solid #9B9C70;
}
.book{
	background: url('../images/book.png') no-repeat top center;
	background-size: 70%;
	background-position: center 2px;
	border-top: 3px solid #9B9C70;
}
.dataicon{
	background: url('../images/Chart-5.png') no-repeat top left;
	background-size: 80%;
	margin: 5px 10px;

}
	.dircover{
		position: absolute;
		height: 100px;
		width: 70px;
		background: rgba(0,0,0,0.5) url('../images/uncheck.png') no-repeat center center;
		background-size: 30px 30px;
	}
	.chk{
		background: rgba(0,0,0,0.5) url('../images/Check.png') no-repeat center center;
		background-size: 30px 30px;
	}
	.searchcamera{
		margin: 5px 5px;
		width: 30px;
		height: 30px;
		background: url('../images/camera-s.png') no-repeat top center;
	background-size: 70%;
	}

/*.outLeftInRight-transition,
.fadeOutLeft-transition, 
.fadeInLeft-transition {
  transition: transform .3s ease-in-out;
}
/* 进入时的状态，从右开始 */
/*.outLeftInRight-enter-active,
.fadeInLeft-enter-active,
.fadeInLeft-leave-active {
  transform: translateX(100%);
}*/
/* 离开时的状态，向左移动 */
/*.outLeftInRight-leave-active,
.fadeOutLeft-enter-active,
.fadeOutLeft-leave-active {
  transform: translateX(-100%);
}*/

.index-fade-enter-active {
  transition: transform .5s ease;
}

.index-fade-enter{
  transform: translateX(-100%);
}
/*.index-fade-leave-active {
	 transition: all .5s ease;
}*/
.index-fade-leave{
/*	transform: translateX(100%);*/
	opacity: 0;
}

.detail-fade-enter-active {
  transition: transform .5s ease;
}

.detail-fade-enter{
  transform: translateX(100%);
}
/*.detail-fade-leave-active {
 	transition: transform .5s ease;
}*/
.detail-fade-leave{
/*	transform: translateX(-100%);*/
opacity: 0;
}